* {
    margin: 0;
}

.top {
    background-color: #0088ff;
    display: flex;
    width: auto;
    color: white;
    padding: 10px;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    align-items: center;
}

    .top i {
        padding: 5px;
        justify-content: center;
    }

footer {
    background-color: #0088ff;
    color: white;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    bottom: -111px;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
    display: flex;
    justify-content: center;
}

body,
input,
textarea,
button {
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
}

/* CALCULATOR CONTAINER */
.calculator {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px 1px black;
    padding: 10px 20px;
    width: 252px;
    position: relative;
    left: 371px;
    padding-top: 0;
}

/* DISPLAY */
.display {
    margin: 50px 0 60px;
    text-align: right;
}

    .display input {
        background: #666;
        border: none;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        text-align: left;
        width: 100%;
        position: relative;
        top: 30px;
    }

    .display h2 {
        color: #000;
        text-align: left;
        padding-top: 5px;
        font-weight: 400;
        height: 22px;
        font-size: 20px;
    }

/* ROW GRID */
.row {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-bottom: 10px;
    padding: initial;
}

.btn {
    display: flex;
    /* grid-template-columns: repeat(4, 25%); */
    /* margin-bottom: 10px; */
    justify-content: space-evenly;
}

/* BUTTON */
.button {
    background-color: #f1f1f1;
    border: none;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    height: 50px;
    margin: 2px;
    transition: all 0.15s ease-in-out;
    width: 50px;
}

    .button:hover {
        transform: scale(1.04);
    }

    .button:active {
        transform: scale(0.97);
    }

/* COLORS */
.gray {
    background-color: #eaeaea;
    color: #2f2d38;
}

.purple {
    background-color: #228B22;
    color: #f2f2f2;
}

.purple-text {
    color: #f2f2f2;
    background-color: #D22B2B;
}

.historico {
    box-shadow: 0 1px 1px 1px black;
    height: 441px;
    width: 292px;
    position: absolute;
    right: 350px;
    top: 109px;
}

    .historico h1 {
        padding: 10px;
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;
    }

.titulo{
    display:flex;
    justify-content: center;
    padding: 5px;
}

.lista {
    display: block;
    position: absolute;
    padding: 0px;
    left: 500px;
    top: 615px;
}
